.searchBox {
    /*background: #cccc99;*/
    padding:30px;
    border-radius: 2px;
}

.header {
    border: 3px solid black;
    border-radius: 2px;
}

.mainContainer {
    width: 73%;
    display: inline-block;
    vertical-align: top;
    margin: 5px 2% 0 0;
    border: 3px solid black;
    border-radius: 2px;
}

.sidebar {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-height: 200px;
    border: 3px solid black;
    border-radius: 2px;
}
